:root{
    --color-brand: #673ab8;
}
body{
   background-color: rgb(103, 58, 184);
}
.banner{
    background-color: rgb(56, 35, 92);
    padding:.5rem;
    display: grid;
    place-items: center;
    color:white;
    cursor: pointer;
    line-height: 26.4px;
    
}

.banner .banner-warning{
    color: rgb(255, 214, 0);
}

/* 导航条外部 */
.navbar-outer{

    display: flex;
    height: 3.5rem;
    justify-content: center;

}
.navbar-outer nav{
    min-width: 1100px;
}
.navbar-outer nav .nav-menus{
    line-height: 3.5rem;
    display: inline-block;

}
.navbar-outer nav .nav-menus li{
    display: inline-block;
    color:#eee;
    padding: 0 1.1rem;
    cursor: pointer;
    height: 100%;

}
.navbar-outer nav .nav-menus li:hover{
    background-color: hsla(0,0%,100%,.3);
}
.search{
    color:var(--color-brand);
    background-color: #58319d!important;
    border-radius: 3px; 
    padding: 8px 15px 8px 32px;
    margin-left: 10px;
    border:1px solid #7447c5;
    outline: none;
    color:#e2e2e2;
    font-size: 1.1rem;
    border-bottom-color:#825acb;
}
.toolbar-icon{
    display: flex;
    justify-content: center;
    height: 100%;
}